@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap");

:root {
	--bg: #fff;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "IBM Plex Sans";
	color: var(--red);
	background: #fff url(./klance.png);
	background-size: cover;
	width: 1280px;
	height: 720px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	position: absolute;
	flex-direction: column;
	box-sizing: border-box;
	padding: 4em;
	-webkit-font-smoothing: antialiased;
}

x-ship {
	background: var(--bg);
	max-width: 40%;
	max-height: 200px;
	overflow: hidden;
	padding: 1em;
	line-height: 1.2;
}

x-ship h2 {
	font-weight: 500;
	margin-bottom: 1em;
}

x-ship p {
	font-weight: 300;
}
