@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'IBM Plex Sans';
	background-size: cover;
	width: var(--width);
	height: var(--height);
	position: absolute;
	-webkit-font-smoothing: antialiased;
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 9;
	top: calc(var(--videooffset) * -1);
}

x-ship {
	width: var(--boxwidth);
	height: var(--boxheight);
	top: var(--boxtop);
	left: var(--boxleft);
	overflow: hidden;
	padding: 1em;
	line-height: 1.2;
	z-index: 10;
	font-size: 1.2em;
	position: absolute;
	background: #fff;
}

x-ship h2 {
	font-weight: 500;
	margin-bottom: 1em;
}

x-ship p {
	font-weight: 300;
}
